[Unit]
Description=Mobile domconnect bot
After=network.target
[Service]
User=root
Group=root
WorkingDirectory=/var/www/mobilebot/
EnvironmentFile=/etc/environment
ExecStart=/var/www/mobilebot/venv/bin/python3 main.py
ExecReload=/var/www/mobilebot/venv/bin/python3 main.py
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=15
[Install]
WantedBy=multi-user.target
