[Unit]
Description=Bid Beeline2 domconnect bot
After=network.target
[Service]
User=root
Group=root
WorkingDirectory=/var/www/bid_beeline2/
EnvironmentFile=/etc/environment
ExecStart=/var/www/bid_domru/venv/bin/python3 main.py
ExecReload=/var/www/bid_domru/venv/bin/python3 main.py
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=15
[Install]
WantedBy=multi-user.target
