{% extends "app/layouts/base.html" %}

{% block title %} SEO статистика {% endblock %} 

{% block stylesheets %}

<style>
.card .card-block, .card .card-body {
    padding: 5px 15px;
}
.hidden-div {
	display: none;
}
</style>
{% endblock stylesheets %}

{% block content %}
{% if error_mess %}
<div class="alert alert-danger" role="alert">
    {{ error_mess }}
</div>
{% endif %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
			<!-- [ Main Content ] start -->
			<!-- <div class="row"> -->
			<!-- [ Hover-table ] start -->
				<div class="col-xl-12">
					<div class="card">
						<div class="card-header">
							<div class="row" style="padding: 10px;">
								<div class="col">
									<h5>Статистика SEO</h5>
								</div>
								<div class="col">
									<progress id="id_prgs_download" value="20" max="100" style="display: none"></progress>
								</div>
								<div class="col">
									<button id="id_btn_download" type="submit" class="btn btn-primary" onclick="download_lids();">Загрузить</button>
								</div>
							</div>
						</div>
						<div class="card-block table-border-style">
							<div class="table-responsive">
							</div>
						</div>
						<div class="card-block table-border-style">
						<div id="id_div_mirbeeline" class="hidden-div">
								<div class="accordion-body">
								  <div class="table-responsive">
								</div>
							  </div>
							</div>
						</div>
						<div class="card-block table-border-style">
							<div id="id_div_mts" class="hidden-div">
								<div class="accordion-body">
								    <div class="table-responsive">
									</div>
							    </div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- [ Hover-table ] end -->
			<!-- </div> -->
			<!-- [ Main Content ] end -->
		</div>
	</div>
</div>

{% endblock content %}
{% block javascripts %}
<script language="javascript">
    let is_download = false;
	function download_lids(){
        if (is_download){  // Включен режим загрузки
            is_download = false;
            $('#id_prgs_download').hide();
            $('#id_btn_download').text('Загрузить');
            ajax_data = {'stop': true};
            go_ajax(ajax_data)
        }else{
            is_download = true;
            $('#id_prgs_download').val(0);
            $('#id_prgs_download').show();
            $('#id_btn_download').text('Остановить');
            ajax_data = {'start': true};
            go_ajax(ajax_data)
            setTimeout(cickle_query_download, 500);
        }
    }
    function cickle_query_download(){
        ajax_data = {'get_state': true};
        go_ajax(ajax_data)
		if(is_download){setTimeout(cickle_query_download, 1000);}
    }
    function go_ajax(ajax_data){
        $.ajax({
            data: ajax_data, // отсылаемые данные
            url: "{% url 'domconnect:dataajax' %}",
            success: function (response){
                is_run = response.is_run;
                if(!is_run && is_download){download_lids()}
                if(is_download){
                    val = response.val_current;
                    tot = response.val_total;
                    if(val >= 0 && tot > 0){
                        $('#id_prgs_download').attr('value', val);
                        $('#id_prgs_download').attr('max', tot);
                    }
                }
            }, // если успешно
            error: function (response){console.log(response.responseJSON.errors)}  // если ошибка
        });
    }
</script>


<script>
function collapsgroup(cls){
	elems = document.getElementsByClassName(cls);
	$(elems).toggle(300);
}
function toggle_display(id){
    elem = document.getElementById(id);
	elems = document.getElementsByClassName("hidden-div");
	let old_state = getComputedStyle(elem).display
	$.each(elems,function(index,value){
		value.style.display = 'none';
	});
	if (old_state == 'none'){
		elem.style.display = 'inline';
	}
}
</script>

{% endblock javascripts %}
