{% extends "app/layouts/base.html" %}

{% block title %} Сайты SEO {% endblock %} 

{% block stylesheets %}
<style>
.table{
	border: 1px solid #eee;
	/* table-layout: fixed; */
	width: 100%;
	margin-bottom: 20px;
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
	text-align: center;
    vertical-align: middle;
}
.table td{
	padding: 5px 10px;
	border: 1px solid #eee;
	text-align: center;
    vertical-align: middle;
}
.table tbody tr:nth-child(odd){
	background: #fff;
}
.table tbody tr:nth-child(even){
	background: #F7F7F7;
}
select {
    width: 300px;
}
/* .table {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse; 
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
.table td {
	border: 1px solid #dddddd;
	padding: 5px;
} */
</style>
{% endblock stylesheets %}

{% block content %}
{% if error_mess %}
<div id="err_mess_fadeout" class="alert alert-danger" role="alert">
    {{ error_mess }}
</div>
{% endif %}
{% if success_mess %}
<div id="suc_mess_fadeout" class="alert alert-info" role="alert">
    {{ success_mess }}
</div>
{% endif %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">

                    <!-- [ Hover-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Сайты SEO</h5>
                            </div>
                            <!-- <div class="card-block table-border-style"> -->
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <!-- <th style="width: 10%;">Номер п/п</th> -->
                                                <th style="width: 30%;">URL</th>
                                                <th style="width: 30%;">Название</th>
                                                <th style="width: 20%;">Провайдер</th>
                                                <th style="width: 10%;">Действия</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for row in data %}
                                            <tr>
                                                <!-- <td>{{ row.num }}</td> -->
                                                <td>{{ row.site }}</td>
                                                <td>{{ row.name }}</td>
                                                <td>{{ row.provider }}</td>
                                                <td>
                                                    <!-- <img src="/static/assets/images/icons8-upload-16.png" alt="Вверх" title="Вверх" onclick="change_position('change_up', '{{ row.id }}');"></img>
                                                    <img src="/static/assets/images/icons8-download-16.png" alt="Вниз" title="Вниз" onclick="change_position('change_down', '{{ row.id }}');"></img> -->
                                                    <!-- &nbsp;&nbsp;&nbsp; -->
                                                    <a href="{% url 'domconnect:site_edit' row.id %}"><img src="/static/assets/images/icons8-edit-16.png" alt="Редактировать" title="Редактировать"></img></a>
                                                    <!-- &nbsp;&nbsp;&nbsp; -->
                                                    <!-- <img src="/static/assets/images/icons8-delete-16.png" alt="Удалить" title="Удалить" data-toggle="modal" data-target="#openModaDeleteSite" onclick="deleteSite('{{ row.id }}','{{ row.site }}');"></img> -->
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            <!-- </div> -->
                        </div>
                        <!-- <div class="card"> -->
							<div width="200px" align="center">
								<a type="button" class="btn btn-secondary" title="Добавить новый сайт" href="{% url 'domconnect:site_edit' 0 %}">Добавить</a>
							</div>
                        <!-- </div> -->
                   </div>
                    <!-- [ Hover-table ] end -->

                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>
<!-- <div id="openModaDeleteSite" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="openModaDeleteSiteTitle">Удаление сайта</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <h4 id="deleteSite"></h4>
        </div>
        <div class="modal-footer">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" id="id_delete" name="delete">
                <button type="submit" class="btn btn-danger">Удалить</button>
            </form>
        </div>
      </div>
    </div>
</div>
<div id="openModalChange" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <form id="id_form_change" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" id="id_direct" name="direct">
        <input type="hidden" id="id_change" name="id_change">
        <div class="modal-footer">
            <button id="id_btn_change" type="submit" class="btn btn-primary"></button>
        </div>
    </form>
</div> -->

{% endblock content %}
{% block javascripts %}
<script language="javascript">
    setTimeout(function(){
        document.getElementById('err_mess_fadeout').style.display = 'none';
    }, 5000);
    setTimeout(function(){
        document.getElementById('suc_mess_fadeout').style.display = 'none';
    }, 2000);
    if (window.history.replaceState){  // предотвращает повторную отправку формы при обновлении страницы если перед этим была отправка
        window.history.replaceState(null, null, window.location.href);
    }
    // function deleteSite(i,t){
    //     $('#id_delete').val(i);
    //     $('#deleteSite').text(t);
    // }
    // function change_position(direct, id){
    //     $('#id_direct').val(direct);
    //     $('#id_change').val(id);
    //     $('#id_btn_change').trigger('click');
    // }
</script>
{% endblock javascripts %}
