{% extends "app/layouts/base.html" %}

{% block title %} Редактирование сайта SEO {% endblock %} 

{% block stylesheets %}
<style>
.table{
	border: 1px solid #eee;
	/* table-layout: fixed; */
	width: 100%;
	margin-bottom: 20px;
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
	text-align: center;
    vertical-align: middle;
}
.table td{
	padding: 5px 10px;
	border: 1px solid #eee;
	text-align: center;
    vertical-align: middle;
}
.table tbody tr:nth-child(odd){
	background: #fff;
}
.table tbody tr:nth-child(even){
	background: #F7F7F7;
}
select {
    width: 300px;
}
input {
    width: 300px;
}
</style>
{% endblock stylesheets %}

{% block content %}
{% if error_mess %}
<div id="mess_fadeout" class="alert alert-danger" role="alert">
    {{ error_mess }}
</div>
{% endif %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">

                    <!-- [ Hover-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Редактирование сайта SEO</h5>
                            </div>
                            <form id="id_form" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <!-- <div class="form-group row">
                                    <label class="col-md-4 col-form-label text-md-right">
                                        Номер п/п<span class="required">*</span>
                                    </label>
                                    <div class="col-md-6">
                                        <input id="id_num" type="text" name="num" required value="{{ num }}">
                                    </div>                
                                </div> -->
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label text-md-right">
                                        URL<span class="required">*</span>
                                    </label>
                                    <div class="col-md-6">
                                        <input id="id_site" type="text" name="site" required value="{{ site }}">
                                    </div>                
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label text-md-right">
                                        Название
                                    </label>
                                    <div class="col-md-6">
                                        <input type="text" id="id_name" name="name" value="{{ name }}">
                                    </div>                
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label text-md-right">
                                        Провайдер<span class="required">*</span>
                                    </label>
                                    <div class="col-md-6">
                                        <input type="text" id="id_provider" list="provider_list" name="provider" required value="{{ provider }}" placeholder="Начните писать">
                                        <datalist id="provider_list">
                                            {% for prov in provider_list %}
                                                <option value="{{ prov.name }}">
                                            {% endfor %}
                                        </datalist>
                                    </div>                
                                </div>

                                <input type="hidden" id="id_edit_site" name="edit_site" value="{{ id_site }}">
                                <input type="hidden" id="id_num" name="num" value="{{ num }}">
                                <div class="modal-footer">
                                    <button id="openModalSiteButton" type="submit" class="btn btn-primary">Сохранить</button>
                                </div>
                            </form>
                                        <!-- <div class="card-block table-border-style"> -->
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <!-- <th style="width: 10%;">Номер п/п</th> -->
                                                <th style="width: 30%;">Источник</th>
                                                <th style="width: 10%;">Действия</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for src in sources %}
                                            <tr>
                                                <!-- <td>{{ src.num }}</td> -->
                                                <td>{{ src.source }}</td>
                                                <td>
                                                    <img src="/static/assets/images/icons8-upload-16.png" alt="Вверх" title="Вверх" onclick="change_position('change_up', '{{ src.id }}');"></img>
                                                    <img src="/static/assets/images/icons8-download-16.png" alt="Вниз" title="Вниз" onclick="change_position('change_down', '{{ src.id }}');"></img>
                                                    &nbsp;&nbsp;&nbsp;
                                                    <img src="/static/assets/images/icons8-delete-16.png" alt="Удалить" title="Удалить" data-toggle="modal" data-target="#openModaDeleteSource" onclick="deleteSource('{{ src.id }}','{{ src.source }}');"></img>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            <!-- </div> -->
                        </div>
                        <!-- <div class="card"> -->
                        <form id="id_form_source" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div>
                                <label class="col-md-4 col-form-label text-md-right">
                                    Добавить источник:
                                </label>
                                <input type="text" id="new_source" list="source_list" name="new_source" placeholder="Начните писать">
                                <datalist id="source_list">
                                    {% for src in source_list %}
                                        <option value="{{ src.name }}">
                                    {% endfor %}
                                </datalist>
                                <button id="openon" type="submit" class="btn btn-primary">Добавить</button>
							</div>
                        </form>
                    <!-- </div> -->
                   </div>
                    <!-- [ Hover-table ] end -->

                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>
<div id="openModaDeleteSource" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="openModaDeleteSourceTitle">Удаление источника</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <h4 id="deleteSource"></h4>
        </div>
        <div class="modal-footer">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" id="id_delete_source" name="delete_source">
                <button type="submit" class="btn btn-danger">Удалить</button>
            </form>
        </div>
      </div>
    </div>
</div>
<div id="openModalChange" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <form id="id_form_change" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" id="id_direct" name="direct">
        <input type="hidden" id="id_change" name="id_change">
        <div class="modal-footer">
            <button id="id_btn_change" type="submit" class="btn btn-primary"></button>
        </div>
    </form>
</div>

{% endblock content %}
{% block javascripts %}
<script language="javascript">
    setTimeout(function(){
        document.getElementById('mess_fadeout').style.display = 'none';
    }, 5000);
    if (window.history.replaceState){  // предотвращает повторную отправку формы при обновлении страницы если перед этим была отправка
        window.history.replaceState(null, null, window.location.href);
    }
    function deleteSource(i,t){
        $('#id_delete_source').val(i);
        $('#deleteSource').text(t);
    }
    function change_position(direct, id){
        $('#id_direct').val(direct);
        $('#id_change').val(id);
        $('#id_btn_change').trigger('click');
    }
</script>
{% endblock javascripts %}
