{% extends "app/layouts/base.html" %}

{% block title %} Источники SEO {% endblock %} 

{% block stylesheets %}
<style>
.table{
	border: 1px solid #eee;
	/* table-layout: fixed; */
	width: 100%;
	margin-bottom: 20px;
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
	text-align: center;
    vertical-align: middle;
}
.table td{
	padding: 5px 10px;
	border: 1px solid #eee;
	text-align: center;
    vertical-align: middle;
}
.table tbody tr:nth-child(odd){
	background: #fff;
}
.table tbody tr:nth-child(even){
	background: #F7F7F7;
}
select {
    width: 300px;
}
</style>
{% endblock stylesheets %}

{% block content %}
{% if error_mess %}
<div id="mess_fadeout" class="alert alert-danger" role="alert">
    {{ error_mess }}
</div>
{% endif %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">

                    <!-- [ Hover-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Источники SEO</h5>
                            </div>
                            <!-- <div class="card-block table-border-style"> -->
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th style="width: 10%;">Номер п/п</th>
                                                <th style="width: 40%;">Источник</th>
                                                <th style="width: 40%;">Сайт</th>
                                                <th style="width: 10%;">Действия</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for row in data %}
                                            <tr>
                                                <td>{{ row.num }}</td>
                                                <td>{{ row.source }}</td>
                                                <td>{{ row.site }}</td>
                                                <td>
                                                    <img src="/static/assets/images/icons8-edit-16.png" alt="Редактировать" title="Редактировать" data-toggle="modal" data-target="#openModalSource" onclick="editSource(
                                                        '{{ row.id }}',
                                                        '{{ row.number }}',
                                                        '{{ row.type_channel }}',
                                                        '{{ row.type_trunk }}',
                                                        '{{ row.type_tariff }}',
                                                        '{{ row.name_tariff }}',
                                                        '{{ row.tariff_description }}',
                                                        '{{ row.oatc_batc_description }}',
                                                        '{{ row.unlimited_on_net }}',
                                                        '{{ row.unlimited_on_net_not_consume_package }}',
                                                        '{{ row.package_cost }}',
                                                        '{{ row.oatc_batc_cost }}',
                                                        '{{ row.mobile_packet }}',
                                                        '{{ row.sms_packet }}',
                                                        '{{ row.active }}',
                                                        '{{ row.comment }}'
                                                        );"></img>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                    <img src="/static/assets/images/icons8-delete-16.png" alt="Удалить" title="Удалить" data-toggle="modal" data-target="#openModaDeleteSource" onclick="deleteSource('{{ row.id }}','{{ row.source }}');"></img>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            <!-- </div> -->
                        </div>
                        <!-- <div class="card"> -->
							<div width="200px" align="center">
								<button type="button" class="btn btn-secondary" title="Добавить новый источник" data-toggle="modal" data-target="#openModalSource" onclick="newSource();">Добавить</button>
							</div>
                        <!-- </div> -->
                   </div>
                    <!-- [ Hover-table ] end -->

                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>
<div id="openModaDeleteSource" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="openModaDeleteSourceTitle">Удаление источника</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <h4 id="deleteSource"></h4>
        </div>
        <div class="modal-footer">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" id="id_delete" name="delete">
                <button type="submit" class="btn btn-danger">Удалить</button>
            </form>
        </div>
      </div>
    </div>
</div>
<div id="openModalSource" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
				<h5 class="modal-title" id="openModalSourceTitle">Настройки источника</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
            <div class="modal-body">
                <h4 id="editSource"></h4>
            </div>
                <div class="bd-example">
				<form id="id_form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group row" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                            <label for="{{ field.id_for_label }}" class="col-md-4 col-form-label text-md-right">
                                {{ field.label }}
                                {% if field.field.required %}
                                    <span class="required">*</span>
                                {% endif %}
                            </label>
                            <div class="col-md-6">

                                {{ field }}

                                {% if field.help_text %}
                                <small id="{{ field.id_for_label }}-help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                                {% endif %}
                            </div>                
                    </div>
                    {% endfor %}
                    <input type="hidden" id="id_edit" name="edit">
                    <div class="modal-footer">
                        <button id="openModalSourceButton" type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                </form>
			</div>
		</div>
	</div>
</div>

{% endblock content %}
{% block javascripts %}
<script language="javascript">
    setTimeout(function(){
        document.getElementById('mess_fadeout').style.display = 'none';
    }, 2000);
    if (window.history.replaceState){  // предотвращает повторную отправку формы при обновлении страницы если перед этим была отправка
        window.history.replaceState(null, null, window.location.href);
    }
    function newSource(){
        $('#openModalSourceTitle').html('Новый источник');
        // $('#id_num').val('{{next_num}}');
        // $('#id_site').val('');
        // $('#id_name').val('');
        // $('#id_provider').val('');
    }
    function editSource(i,n,tc,tt,ttr,nt,td,od,uon,uonn,pc1,obc1,m,s,a,cm){
        $('#id_edit').val(i);
        $('#editNumber').text(n);
        $('#id_type_channel').val(tc);
        $('#id_type_trunk').val(tt);
        $('#id_type_tariff').val(ttr);
        $('#id_name_tariff').val(nt);
        $('#id_tariff_description').val(td);
        $('#id_oatc_batc_description').val(od);
        $('#id_unlimited_on_net').val(uon);
        $('#id_unlimited_on_net_not_consume_package').val(uonn);
        $('#id_package_cost').val(parseFloat(pc1.replace(',','.').replace(' ','')));
        $('#id_oatc_batc_cost').val(parseFloat(obc1.replace(',','.').replace(' ','')));
        $('#id_mobile_packet').val(m);
        $('#id_sms_packet').val(s);
        if (a == "True"){
            $('#id_active').setAttr("checked");
        }else{
            $('#id_active').removeAttr("checked");
        }
        $('#id_comment').val(cm);
    }
    function deleteSource(i,s){
        $('#id_delete').val(i);
        $('#deleteSource').text(s);
    }
</script>
{% endblock javascripts %}
