{% extends "office/layouts/base.html" %}

{% block title %} {{ page_title }} {% endblock %} 

{% block stylesheets %}
<style>
	table {
		counter-reset: count;
	}
	table td:first-child:before {
		content: counter(count);
		counter-increment: count;
	}
	.col {
		padding-right: 5px;
		padding-left: 5px;
		white-space: nowrap;
	}
}
</style>
{% endblock stylesheets %}

{% block content %}
<div class="pcoded-content">
	{% if error_mess %}
		<div id="error-message" class="alert alert-danger" role="alert">
			{{ error_mess }}
		</div>
	{% endif %}
	{% if success_mess %}
		<div id="success-message" class="alert alert-success" role="alert">
			{{ success_mess }}
		</div>	
	{% endif %}
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">

                    <!-- [ Hover-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="mb-0">ММВБ Облигации</h5>
                                        </div>
                                        <div class="col">
                                            <label id="id_lbl_bond" class="form-check-label">Всего:</label>
                                        </div>
                                        <div class="col" id="id_div_val" style="width: 80px;">
                                            <label id="id_val" class="form-check-label">{{ num_all_bond }}</label>
                                        </div>
                                        <div class="col" id="id_div_upgrade">
                                            <label id="id_lbl_upgrade" class="form-check-label">{{ last_upgrade }}</label>
                                        </div>
                                        <div class="col" id="id_div_prgs" style="display: none">
                                            <progress id="id_prgs" style="height: 26px; width: 200px;" value="20" max="100"></progress>
                                        </div>
                                        <div class="col">
                                            <button class="btn btn-primary" id="id_btn_run_stop" type="button" onclick="download_bond();">Обновить</button>
                                        </div>
                                        <div class="col" id="id_lbl_filter">
                                            <label class="form-check-label">Фильтр</label>
                                        </div>
                                        <div class="col" id="id_select_filter">
											<form method="post" enctype="multipart/form-data">
												{% csrf_token %}
												<select id="id_sel_filter" name="select_filter" class="form-control" style="height: 28px; width: 200px;" onChange="this.form.submit();">
													<option selected disabled hidden>Выберите</option>
													{% for filter in filters %}
													<option value={{ filter.id }} {% if filter.selected %}} selected="" {% endif %}>{{ filter.name }}</option>
													{% endfor %}
												</select>
											</form>
                                        </div>
                                    </div>
                                    <div class="input-group"></div>
                                </div>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Тикер</th>
                                                <th>Название</th>
                                                <th>Погашение</th>
                                                <th>Номинал</th>
                                                <th>Куп./год</th>
                                                <th>Купон</th>
                                                <th>Тип</th>
                                                <th>Доходность %</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for row in page %}
                                            <tr>
                                                <td></td>
                                                <td><div style="width: 300px; overflow: hidden; text-overflow: ellipsis">jjdjyyagaa{{ row.text }}</div></td>
                                                <td>hdgsafasta{{ row.author }}</td>
                                                <td>,kdmsnhasyhs{{ row.pub_date }}</td>
                                                <td>
                                                    <img src="/static/assets/images/icons8-edit-30.png" alt="Редактировать" title="Редактировать" data-toggle="modal" data-target="#openModalPhrase" onclick="editRowPhrase('{{ row.id }}','{{ row.text }}');"></img>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                    <img src="/static/assets/images/icons8-delete-30.png" alt="Удалить" title="Удалить" data-toggle="modal" data-target="#openModaDeletePhrase" onclick="deleteRowPhrase('{{ row.id }}','{{ row.text }}');"></img>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    {% include "office/paginator.html" with items=page paginator=paginator %}
                                </div>
                            </div>
                        </div>
                        <!-- <div class="card"> -->
							<div width="200px" align="center">
								<button type="button" class="btn btn-secondary" onclick="test();">Добавить</button>
							</div>
                        <!-- </div> -->
                   </div>
                    <!-- [ Hover-table ] end -->

                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script src="/static/assets/js/jquery.min.js"></script>
<script language="javascript">
	$(function() {
		if ($('#error-message').length) {$("#error-message").fadeOut(2000);}
		if ($('#success-message').length) {$("#success-message").fadeOut(2000);}
	});
    let is_download = false;
	function download_bond(){
        if (is_download){  // Включен режим загрузки
            is_download = false;
			$('#id_lbl_bond').text('Всего:');
			$('#id_div_val').show();
			$('#id_div_upgrade').show();
            $('#id_div_prgs').hide();
            $('#id_btn_run_stop').text('Обновить');
			$('#id_sel_filter').prop('disabled', false);
            ajax_data = {'stop': true};
            go_ajax(ajax_data)
        }else{
            is_download = true;
			$('#id_lbl_bond').text('Загрузка:');
			$('#id_div_val').hide();
			$('#id_div_upgrade').hide();
            $('#id_prgs').val(0);
            $('#id_div_prgs').show();
            $('#id_btn_run_stop').text('Остановить');
			$('#id_sel_filter').prop('disabled', true);
            ajax_data = {'start': true};
            go_ajax(ajax_data);
            setTimeout(cickle_query_download, 500);
        }
    }
    function cickle_query_download(){
        ajax_data = {'get_state': true};
        go_ajax(ajax_data);
		if(is_download){setTimeout(cickle_query_download, 500);}
    }
    function go_ajax(ajax_data){
        $.ajax({
            data: ajax_data, // отсылаемые данные
            url: "{% url 'office:dwnldmoexbond' %}",
            success: function (response){
                is_run = response.is_run;
                if(!is_run && is_download){download_bond()}
                if(is_download){
                    val = response.val_current;
                    tot = response.val_total;
					all = response.num_all_bond;
					upgrade = response.last_upgrade;
                    if(val >= 0 && tot > 0){
                        $('#id_prgs').attr('value', val);
                        $('#id_prgs').attr('max', tot);
                    };
					if(all){$('#id_val').text(all)};
					if(upgrade){$('#id_lbl_upgrade').text(upgrade)};
                }
            }, // если успешно
            error: function (response){console.log(response.responseJSON.errors)}  // если ошибка
        });
    }
</script>
{% endblock javascripts %}
