{% extends "office/layouts/base.html" %}

{% block title %} {{ page_title }} {% endblock %} 

{% block stylesheets %}
<style>
	table {
		counter-reset: count;
	}
	table td:first-child:before {
		content: counter(count);
		counter-increment: count;
	}
}
</style>
{% endblock stylesheets %}

{% block content %}
{% if error_mess %}
<div class="alert alert-danger" role="alert">
    {{ error_mess }}
</div>
{% endif %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">

                    <!-- [ Hover-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="mb-0">ММВБ Облигации</h5>
                                        </div>
                                        <div class="col">
                                            <label id="id_lbl_bond" class="form-check-label">Всего облигаций:</label>
                                        </div>
                                        <div class="col" id="id_div_val">
                                            <label id="id_val" class="form-check-label">{{ num_all_bond }}</label>
                                        </div>
                                        <div class="col" id="id_div_upgrade">
                                            <label id="id_lbl_upgrade" class="form-check-label">{{ last_upgrade }}</label>
                                        </div>
                                        <div class="col" id="id_div_prgs" style="display: none">
                                            <progress id="id_prgs" value="20" max="100"></progress>
                                        </div>
                                        <div class="col">
                                            <button class="btn btn-primary" id="id_btn_run_stop" type="button" onclick="download_bond();">Обновить</button>
                                        </div>
                                    </div>
                                    <div class="input-group"></div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
									<div class="row">
                                        <div class="col">
											<h5 class="mb-0">Фильтр</h5>
										</div>
                                        <div class="col">
                                            <label id="id_lbl_filter" class="form-check-label">Не выбрано<br>Не выбрано</label>
										</div>
                                        <div class="col">
                                            <button type="button" class="btn btn-primary" id="id_btn_filter_open" data-toggle="modal" data-target="#openModalFilter">Выбрать / создать</button>
										</div>
									</div>
                                </div>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Тикер</th>
                                                <th>Название</th>
                                                <th>Погашение</th>
                                                <th>Номинал</th>
                                                <th>Куп./год</th>
                                                <th>Купон</th>
                                                <th>Тип</th>
                                                <th>Доходность %</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for row in page %}
                                            <tr>
                                                <td></td>
                                                <td><div style="width: 300px; overflow: hidden; text-overflow: ellipsis">jjdjyyagaa{{ row.text }}</div></td>
                                                <td>hdgsafasta{{ row.author }}</td>
                                                <td>,kdmsnhasyhs{{ row.pub_date }}</td>
                                                <td>
                                                    <img src="/static/assets/images/icons8-edit-30.png" alt="Редактировать" title="Редактировать" data-toggle="modal" data-target="#openModalPhrase" onclick="editRowPhrase('{{ row.id }}','{{ row.text }}');"></img>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                    <img src="/static/assets/images/icons8-delete-30.png" alt="Удалить" title="Удалить" data-toggle="modal" data-target="#openModaDeletePhrase" onclick="deleteRowPhrase('{{ row.id }}','{{ row.text }}');"></img>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    {% include "office/paginator.html" with items=page paginator=paginator %}
                                </div>
                            </div>
                        </div>
                        <!-- <div class="card"> -->
							<div width="200px" align="center">
								<button type="button" class="btn btn-secondary" onclick="test();">Добавить</button>
							</div>
                        <!-- </div> -->
                   </div>
                    <!-- [ Hover-table ] end -->

                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>
<div id="openModalFilter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="openModaDeletePhraseTitle">Фильтр</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
			<div class="card">
				<hr style="border: 1px solid gray;">
				<div class="card">
					<div class="row">
						<form method="post" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="row">
								<div class="col">
									<select class="form-control" style="margin-left: 15px; padding: 2px 2px; height: 28px; width: 160px;">
										<option value="12" selected="">This is item 1</option>
										<option value="13">This is item 2</option>
										<option value="14">This is item 3</option>
									</select>
								</div>
								<div class="col">
										<input type="hidden" name="apply">
										<button type="submit" class="btn btn-primary">Применить</button>
								</div>
							</div>
						</form>
						<div class="col">
							<button type="button" class="btn btn-primary" onclick="modify_filter();">Изменить</button>
						</div>
								<input type="hidden" id="deletePhraseId" value="">
								<h4 id="deletePhrase"></h4>
					</div>
				</div>
				<hr style="border: 1px solid gray;">
				<form method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="card">
						<div class="row" style="padding: 10px;">
							<div class="col">
								<div class="form-check"><label class="form-check-label">Название:</label></div>
								<div class="input-group"><input id="id_new_filter" style="width: 250px;" type="text" name="name" value="Новый фильтр" disabled></div>
							</div>
							<div class="col" style="margin: auto;">
								<button id="id_btn_new_filter" type="button" class="btn btn-primary" onclick="active_new_filter();">Создать</button>
							</div>
						</div>
						<div class="row" style="padding: 10px;">
							<div class="col">
								<div class="form-check"><input id="id_check_facevalue_from" class="form-check-input" type="checkbox" id="formCheck-1" name="check_facevalue_from" onclick="toggle_disabled('id_facevalue_from');" disabled><label class="form-check-label" for="formCheck-1">Номинал от:</label></div>
								<div class="input-group"><input id="id_facevalue_from" style="width: 160px;" type="number" name="facevalue_from" disabled></div>
							</div>
							<div class="col">
								<div class="form-check"><input id="id_check_facevalue_to" class="form-check-input" type="checkbox" id="formCheck-2" name="check_facevalue_to" disabled><label class="form-check-label" for="formCheck-2">Номинал до:</label></div>
								<div class="input-group"><input id="id_facevalue_to" style="width: 160px;" type="number" name="facevalue_to" disabled></div>
							</div>
						</div>
						<div class="row" style="padding: 10px;">
							<div class="col">
								<div class="form-check"><input id="id_check_matdate_from" class="form-check-input" type="checkbox" id="formCheck-3" name="check_matdate_from" disabled><label class="form-check-label" for="formCheck-3">Погашение от:</label></div>
								<div class="input-group"><input id="id_matdate_from" style="width: 160px;" type="date" name="matdate_from" disabled></div>
							</div>
							<div class="col">
								<div class="form-check"><input id="id_check_matdate_to" class="form-check-input" type="checkbox" id="formCheck-4" name="check_matdate_to" disabled><label class="form-check-label" for="formCheck-4">Погашение до:</label></div>
								<div class="input-group"><input id="id_matdate_to" style="width: 160px;" type="date" name="matdate_to" disabled></div>
							</div>
						</div>
						<div class="row" style="padding: 10px;">
							<div class="col">
								<div class="form-check"><input id="id_check_profit_from" class="form-check-input" type="checkbox" id="formCheck-5" name="check_profit_from" disabled><label class="form-check-label" for="formCheck-5">Доходность от:</label></div>
								<div class="input-group"><input id="id_profit_from" style="width: 160px;" type="number" name="profit_from" disabled></div>
							</div>
							<div class="col">
								<div class="form-check"><input id="id_check_profit_to" class="form-check-input" type="checkbox" id="formCheck-6" name="check_profit_to" disabled><label class="form-check-label" for="formCheck-6">Доходность до:</label></div>
								<div class="input-group"><input id="id_profit_to" style="width: 160px;" type="number" name="profit_to" disabled></div>
							</div>
						</div>
						<div class="row" style="padding: 10px;">
							<div class="col">
								<div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-7" name="check_select_type"><label class="form-check-label" for="formCheck-7">По типу облигаций</label></div>
								<hr style="border: 1px solid gray;">

								<div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-7" name="check_select_type"><label class="form-check-label" for="formCheck-7">По типу облигаций</label></div>
								<div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-7" name="check_select_type"><label class="form-check-label" for="formCheck-7">По типу облигаций</label></div>
								<div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-7" name="check_select_type"><label class="form-check-label" for="formCheck-7">По типу облигаций</label></div>
								<div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-7" name="check_select_type"><label class="form-check-label" for="formCheck-7">По типу облигаций</label></div>
								

							</div>
							<div class="col" style="margin: auto;">
								<input type="hidden" name="id_filter" value="*">
								<button id="id_btn_save_filter" type="submit" class="btn btn-primary" disabled>Сохранить</button>
							</div>
						</div>
					</div>
				</form>
				<hr style="border: 1px solid gray;">
			</div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script src="/static/assets/js/jquery.min.js"></script>
<script language="javascript">
    let is_download = false;
    let is_new_filter = false;
	function download_bond(){
        if (is_download){  // Включен режим загрузки
            is_download = false;
			$('#id_lbl_bond').text('Всего облигаций:');
			$('#id_div_val').show();
			$('#id_div_upgrade').show();
            $('#id_div_prgs').hide();
            $('#id_btn_run_stop').text('Обновить');
            ajax_data = {'stop': true};
            go_ajax(ajax_data)
        }else{
            is_download = true;
			$('#id_lbl_bond').text('Загрузка:');
			$('#id_div_val').hide();
			$('#id_div_upgrade').hide();
            $('#id_prgs').val(0);
            $('#id_div_prgs').show();
            $('#id_btn_run_stop').text('Остановить');
            ajax_data = {'start': true};
            go_ajax(ajax_data);
            setTimeout(cickle_query_download, 500);
        }
    }
    function cickle_query_download(){
        ajax_data = {'get_state': true};
        go_ajax(ajax_data);
		if(is_download){setTimeout(cickle_query_download, 500);}
    }
    function go_ajax(ajax_data){
        $.ajax({
            data: ajax_data, // отсылаемые данные
            url: "{% url 'office:dwnldmoexbond' %}",
            success: function (response){
                is_run = response.is_run;
                if(!is_run && is_download){download_bond()}
                if(is_download){
                    val = response.val_current;
                    tot = response.val_total;
					all = response.num_all_bond;
					upgrade = response.last_upgrade;
                    if(val >= 0 && tot > 0){
                        $('#id_prgs').attr('value', val);
                        $('#id_prgs').attr('max', tot);
                    };
					if(all){$('#id_val').text(all)};
					if(upgrade){$('#id_lbl_upgrade').text(upgrade)};
                }
            }, // если успешно
            error: function (response){console.log(response.responseJSON.errors)}  // если ошибка
        });
    }
	function active_new_filter(){
		if(is_new_filter){
			$('#id_btn_new_filter').text('Создать');
			$('#id_new_filter').prop('disabled', true);
			$('#id_btn_save_filter').prop('disabled', true);
			
			$('#id_check_facevalue_from').prop('disabled', true);
			// $('#id_facevalue_from').prop('disabled', true);
			$('#id_check_facevalue_to').prop('disabled', true);
			// $('#id_facevalue_to').prop('disabled', true);
			$('#id_check_matdate_from').prop('disabled', true);
			// $('#id_matdate_from').prop('disabled', true);
			$('#id_check_matdate_to').prop('disabled', true);
			// $('#id_matdate_to').prop('disabled', true);
			$('#id_check_profit_from').prop('disabled', true);
			// $('#id_profit_from').prop('disabled', true);
			$('#id_check_profit_to').prop('disabled', true);
			// $('#id_profit_to').prop('disabled', true);
			is_new_filter = false;
		}else{
			$('#id_btn_new_filter').text('Отмена');
			$('#id_new_filter').prop('disabled', false);
			$('#id_btn_save_filter').prop('disabled', false);
			
			$('#id_check_facevalue_from').prop('disabled', false);
			// $('#id_facevalue_from').prop('disabled', false);
			$('#id_check_facevalue_to').prop('disabled', false);
			// $('#id_facevalue_to').prop('disabled', false);
			$('#id_check_matdate_from').prop('disabled', false);
			// $('#id_matdate_from').prop('disabled', false);
			$('#id_check_matdate_to').prop('disabled', false);
			// $('#id_matdate_to').prop('disabled', false);
			$('#id_check_profit_from').prop('disabled', false);
			// $('#id_profit_from').prop('disabled', false);
			$('#id_check_profit_to').prop('disabled', false);
			// $('#id_profit_to').prop('disabled', false);
			is_new_filter = true;
		} // onclick="active_new_filter();"
    }
	function modify_filter(){
		
    }
	function toggle_disabled(id){
		attr = $('#' + id).attr('disabled');
		if (attr == 'disabled'){
			$('#' + id).prop('disabled', false);
		}else{
			$('#' + id).prop('disabled', true);
		}
    }
	function test(){
		ajax_data = {'get_state': true};
        $.ajax({
            data: ajax_data, // отсылаемые данные
            url: "{% url 'office:testbond' %}",
            success: function (response){
                // is_run = response.is_run;
				val = response.value;
				// tot = response.val_total;
				// all = response.num_all_bond;
				// upgrade = response.last_upgrade;
				console.log(val);
				// console.log(tot);
				// console.log(all);
				// console.log(upgrade);
				// if(all){$('#id_val').text(all)};
				// if(upgrade){$('#id_lbl_upgrade').text(upgrade)};
            }, // если успешно
            error: function (response){console.log(response.responseJSON.errors)}  // если ошибка
        });
	
	}
</script>
{% endblock javascripts %}
